<!DOCTYPE html>
<html>
  <head>
    <title>
      Movies
    </title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="./CSS/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <section id="section">
      <div class="main-container">
        <div class="container1">
          <img src="./IMG/mov1.jpg" alt="Image1" />

          <h5 class="text">Avengers</h5>
          <p class="text">Description</p>
          <a href="../MOVIES/movies.html">Trailer Video</a>
          <button class="btn">Vote<i class="fa fa-thumbs-up"></i></button>
        </div>

        <div class="container1">
          <img src="./IMG/mov2.jpg" alt="Image2" />

          <h5 class="text">May4</h5>
          <p class="text">Description</p>
          <a href="#" class="text">Trailer Video</a>
          <button class="btn">Vote<i class="fa fa-thumbs-up"></i></button>
        </div>

        <div class="container1">
          <img src="./IMG/mov3.jpg" alt="Image3" />

          <h5 class="text">Bad Boys 2</h5>
          <p class="text">Description</p>
          <a href="#">Trailer Video</a>
          <button class="btn">Vote<i class="fa fa-thumbs-up"></i></button>
        </div>

        <div class="container1">
          <img src="./IMG/mov6.jpg" alt="" />

          <h5 class="text">Bad Boys</h5>
          <p class="text">Description</p>
          <a href="#">Trailer Video</a>
          <!-- <button type="submit" >Vote</button> -->
          <button class="btn">Vote<i class="fa fa-thumbs-up"></i></button>
        </div>
      </div>
    </section>
  </body>
</html>
